.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 75px;
}

.form div{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form div span{
    display: flex;
    flex-direction: row;
    width: 50%;
    /* justify-content: space-between; */
    margin-bottom: 30px;
}

.form div span label{
    width: 15%;
    /* margin-right: 50px; */
    font-size: 20px;
    font-weight: 500;
}

.form div span input{
    border: 2px solid black;
    outline: none;
    padding: 2.5px 10px;
    font-size: 20px;
    width: 30%;
}

.modules{
    width: 100%;
}

.modules h1{
    font-size: 25px;
}

.modules section{
    display: flex;
    flex-direction: row;
    width: 50%;
    /* justify-content: space-between; */
    margin-bottom: 30px;
}

.modules section label{
    width: 45%;
    /* margin-right: 50px; */
    font-size: 20px;
    font-weight: 500;
}

.modules section input{
    border: 2px solid black;
    outline: none;
    padding: 2.5px 10px;
    font-size: 20px;
    width: 30%;
}

.button{
    background-color: blue;
    width: 15%;
    border-radius: 50px;
    border: none;
    outline: none;
    color: white;
    height: 50px;
    font-size: 20px;
    margin: auto;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid blue;
}

.button:hover{
    background-color: white;
    color: blue;
}